fastapi
uvicorn
plivo
boto3
python-dotenv
pydantic
loguru
pytest
requests
python-multipart
aiofiles
starlette
typing-extensions
pipecat-ai==0.0.53
pipecat-ai[cartesia,openai,silero,deepgram,elevenlabs]
openai
pydantic-settings